<html>

<head><h1>Sources</h1></head>

<body>

<a href="/sources/add">   Add new source  </a>
<br />
<br />

		<table>
			<tr>
				<td>First name</td>
				<td>Last name</td>
				<td>Action</td>
			</tr>	
			{% for Source in source_list %}
			<tr>
				<td>{{ Source.first_name}}</td>
				<td></td>
				<td>{{ Source.last_name}}</td>
				<td> <a href="/sources/{{ Source.id }}/">  View  </a>;<a href="/sources/{{ Source.id }}/edit">  Edit  </a>;<a href="/sources/{{ Source.id }}/delete">  Delete </a></td>
			</tr>
			{% endfor %}
		</table>

<br />
<br />
Return to <a href="/stories">article list. </a>
<br />
<br />
</body>
</html>
<!-- THIS WILL HAVE A SEARCH FUNCTION. SORT FUNCTION BY NAME, TOPIC ETC... -->