<html>

<head><h1>{{ Source }}</h1></head>


Job title: {{Source.job_title}}<br />
Company:  {{Source.company}}<br />
Comments: {{Source.comments}}<br />


<a href="/sources/{{Source.id}}/edit"> Edit</a>
<br /> <br />
<a href="/sources"> Return to the homepage </a>
<br /> <br />
<a href="/sources/{{Source.id}}/delete"> Delete </a>
<br /> <br />

Articles linked to this source:<br />
	{% for Article in article_list %}<br />
		<a href="/stories/{{Article.id}}">{{Article.title}}</a><br />
	{% endfor %}<br />

<body>


<br />
<br />
Return to <a href="/stories">article list. </a>
<br />
<br />
Return to <a href="/sources">sources. </a>
</body>
</html>