<html>
	<head>
		<title>New article</title>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}JS/jquery.tokeninput.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}JS/json2.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}ckeditor/ckeditor.js"></script>
		<link rel="stylesheet" href="{{ STATIC_URL }}CSS/token-input.css" type="text/css"/>
		<link rel="stylesheet" href="{{ STATIC_URL }}CSS/general-style.css" type="text/css"/>
	</head>

	<body>
		<script type="text/javascript">
			$(document).ready(function () {
				$("#sources").tokenInput("/sources/source_query", {
					hintText: "Type in the names of your sources",
					noResultsText: "No results",
					searchingText: "Searching..."
				});
			});
			
			$(document).ajaxSend(function(event, xhr, settings) {
				function getCookie(name) {
					var cookieValue = null;
					if (document.cookie && document.cookie != '') {
						var cookies = document.cookie.split(';');
						for (var i = 0; i < cookies.length; i++) {
							var cookie = jQuery.trim(cookies[i]);
							// Does this cookie string begin with the name we want?
							if (cookie.substring(0, name.length + 1) == (name + '=')) {
								cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
								break;
							}
						}
					}
					return cookieValue;
				}
		
				function sameOrigin(url) {
					// url could be relative or scheme relative or absolute
					var host = document.location.host; // host + port
					var protocol = document.location.protocol;
					var sr_origin = '//' + host;
					var origin = protocol + sr_origin;
					// Allow absolute or scheme relative URLs to same origin
					return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
						(url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
						// or any other URL that isn't scheme relative or absolute i.e relative.
						!(/^(\/\/|http:|https:).*/.test(url));
				}
				
				function safeMethod(method) {
					return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
				}

				if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
					xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
				}
			});

			function submit_new_source(){
				var sources = {}; 
				// the ">" sign tells it to indicate the text in the form box. Called selectors. Part of CSS.
				sources.first_name=$('#new_source_form > #first_name').val();
				sources.last_name=$('#new_source_form > #last_name').val();
				sources.job_title=$('#new_source_form > #job_title').val();
				sources.company=$('#new_source_form > #company').val();
				sources.comments=$('#new_source_form > #comments').val();
				if (sources.first_name=="" && sources.last_name==""){
					alert("Please enter a first or last name.")
				} 
				else {
					$.ajax({
						type:'POST',
						url:'/stories/add_source_api',
						data:JSON.stringify(sources),
						success: function(data){
								data = JSON.parse(data);
								$.TokenList.add_token_api(data.id, data.first_name + " " + data.last_name);
								$('#new_source_form').children().each(function(index, value){
									$(value).val("");
								});
							},
					});
				}
			}
		
			// Submit the form using JS
			function submitform(next_variable) {
				if (next_variable == 'detail'){
					$('#add_form').attr('action', '/stories/add_submit/?next=detail');
				}
				if (next_variable == 'stories'){
					$('#add_form').attr('action', '/stories/add_submit/?next=stories');
				}
				if (next_variable == 'edit'){
					$('#add_form').attr('action', '/stories/add_submit/?next=edit');
				}
				$('#add_form').submit();
			}
		</script>

		<p align="right">
			<a href="/logout_view">Log out.</a>
			<a href="/sources">View sources.</a>
			<a href="/stories">Return to the dashboard.</a>
		</p>
		
		<h1 class ="page-title">New article</h1>

		<form id="add_form" method="post">
			{% csrf_token %}
			<text class="form-label">Title</text></br><input type="text" name="title" size = "50" value="" /><br />
			<text class="form-label">Subhead</text></br><input type="text" name="lead" size = "120" value="" /><br />
			<textarea id="content" name="content" value=""></textarea>
			<select name="status">
				<option value="to_start"	>To start	</option>
				<option value="in_progress"	>In progress</option>
				<option value="almost_done"	>Almost done</option>
				<option value="completed"	>Completed	</option>
			</select></br>
			
			<select name="category">
				<option value="news"	>News		</option>
				<option value="feature"	>Feature	</option>
				<option value="opinion"	>Opinion	</option>
				<option value="analysis">Analysis	</option>
			</select></br>

			<text class="form-label">Sources</text></br><input type="text" name="sources" id="sources"/></br> 

			<text class="form-label">Notes</text></br><textarea name="notes" rows="5" cols="50"></textarea><br /></br>

			<input type="button" value="Save and preview" 				onClick="javascript:submitform('detail')"/>&nbsp;&nbsp;
			<input type="button" value="Save and keep editing" 			onClick="javascript:submitform('edit')"/>&nbsp;&nbsp;
			<input type="button" value="Save and return to dashboard"	onClick="javascript:submitform('stories')"/>
		</form>
		
		<a href='' onClick="$('#new_source_box').slideToggle();window.scrollBy(0,300);return false;" id="add_new_source">
			Add a new source <i>(Click to close this window)</i>
		</a>
		<div id="new_source_box" class="source-box">
			<form id="new_source_form" method="post">
				{% csrf_token %}
				First name:<input type="text" id="first_name" value="" /><br />
				Last name:<input type="text" id="last_name" value="" /><br />
				Job title:<input type="text" id="job_title" value="" /><br />
				Company:<input type="text" id="company" value="" /><br />
				Comments:<textarea id="comments" rows="2" cols="20"></textarea><br />
				<button onClick="submit_new_source(); return false;">Save</button>
			</form>
		</div>
		<script type="text/javascript">
			CKEDITOR.replace('content',{
				customConfig: '{{ STATIC_URL }}ckeditor/custom/config.js'
			});
		</script>
	</body>
</html>