<html>
	{% load stories_extras %}
	<head>
		<title>{{ Article }}</title>
		<link rel="stylesheet" href="{{ STATIC_URL }}CSS/general-style.css" type="text/css"/>
	</head>

	<body class="padded-view">
		<p align="right">
			<a href="/logout_view">Log out</a><br/> 
			<a href="/stories/{{Article.id}}/edit">Edit </a>or <a href="/stories/{{Article.id}}/delete">delete </a>this article.<br />
			<a href="/stories">Return to the dashboard </a>or <a href="/sources">to your sources.</a><br/> 
		</p>

		<p align="left" class="preview">
			<h1>{{ Article }}</h1>
			{{ Article.pub_date }}
			<h4><i>{{ Article.lead }}</i></h4>
			{% autoescape off %}{{ Article.content }}{% endautoescape %}
		</p>

		<p align="left">
			<text class="attributes">Sources -- </text><br/>
			{% for i in list %}
				<a href="/sources/{{i.id}}">{{i}}</a><br/>
			{% endfor %}<br/>
			<text class="attributes">Status -- </text>{{ status_dict|hash:Article.status }}<br/>
			<text class="attributes">Category -- </text>{{ category_dict|hash:Article.category }}<br/>
			<text class="attributes">Notes -- </text>{{ Article.notes }}
		</p>
	</body>
</html>