<html>
	{% load stories_extras %}
	<head>
		<title>{{ Source }}</title>
		<link rel="stylesheet" href="{{ STATIC_URL }}CSS/general-style.css" type="text/css"/>
	</head>

	<body>
		<p align="right" class="attributes">
			<a href="/logout_view">Log out.</a><br />
			Return to <a href="/stories">article list.</a><br />
			Return to <a href="/sources">sources.</a>
		</p>

		<p class="page-title">{{ Source }}</p>

		<p class="form-label">
			Job title:<text class="form-content">	{{ Source.job_title }}</text><br />
			Company:<text class="form-content">		{{ Source.company }}</text><br />
			Comments:<text class="form-content">	{{ Source.comments }}</text><br />
		</p>
		
		<p class="attributes">
			<a href="/sources/{{Source.id}}/edit"> Edit this source</a><br />
			<a href="/sources/{{Source.id}}/delete"> Delete this source </a>
		</p>

		<p>
			Articles linked to this source:
			{% for Article in article_list %}<br />
				<a href="/stories/{{Article.id}}">{{Article.title}}</a><br />
			{% endfor %}
		</p>
	</body>
</html>