<html>
	<head>
		<title>Edit {{Source}}</title>
		<link rel="stylesheet" href="{{ STATIC_URL }}CSS/general-style.css" type="text/css"/>
	</head>

	<body>
		<p align="right" class="attributes">
			<a href="/logout_view">Log out.</a>
			<a href="/sources">View sources.</a>
			<a href="/stories">Return to the dashboard.</a>
		</p>
		
		<p class="page-title">Edit {{Source}}</p>

		<form action="/sources/{{Source.id}}/edit_submit" method="post" class="form-label">
			{% csrf_token %}
			First name:<input type="text" name="first_name" class="form-content" value="{{ Source.first_name }}" /><br />
			Last name:<input type="text" name="last_name" class="form-content" value="{{ Source.last_name }}" /><br />
			Job title:<input type="text" name="job_title" class="form-content" value="{{ Source.job_title }}" /><br />
			Company:<input type="text" name="company" class="form-content" value="{{ Source.company }}" /><br />
			Comments:<textarea name="comments" rows="10" cols="20" class="form-content">{{ Source.comments }}</textarea><br />
			<input type="submit" value="Save"/>
		</form>
	</body> 
</html>