<html>
	<head>
		<title>Test</title>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
		<script type="text/javascript" src="http://opadoi.gr/journotools_static/JS/jquery.tokeninput.js"></script>
		<script type="text/javascript" src="http://opadoi.gr/journotools_static/JS/json2.js"></script>
		<link rel="stylesheet" href="http://opadoi.gr/journotools_static/CSS/token-input.css" type="text/css"/></head>	
		
	<body>			
	
	<script type="text/javascript">
		function open_in_new_window {
			var w=window.open();
			w.document.open();
			w.document.write("AKSJH");
			w.document.close();
			}
	</script>
	
	<p><a href='' onClick='#open_in_new_window'>asdjhasdkhh</p></a>

	</body>		
</html>
