body{
	margin-left: 60;
	margin-right:80;
	margin-bottom: 200;
	padding: 40;
	font-size:16;
	line-height:140%;
	background-color:#FBF5EF;
}		

.form-label{
	color:#D8D8D8;
	font-style:italic;
	font-family:verdana;
}

a{
	font-family:verdana;
}

a:link{
	color:#D8D8D8;
}

.page-title{
	font-family:MS Sans Serif;
	color:9999FF;
}

.source-box{
	border:1px solid;
	width:400px;
	display:none;
}