<html>
	<head>
		<title>Edit {{Article}}</title>
		
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
		<script type="text/javascript" src="http://opadoi.gr/journotools_static/JS/jquery.tokeninput.js"></script>
		<script type="text/javascript" src="http://opadoi.gr/journotools_static/JS/json2.js"></script>
		<link rel="stylesheet" href="http://opadoi.gr/journotools_static/CSS/token-input.css" type="text/css"/>

		<script type="text/javascript">
		$(document).ready(function () {
		  $("#sources").tokenInput("/sources/source_query", {
					hintText: "Type in the names of your sources",
					noResultsText: "No results",
					searchingText: "Searching...",
					prePopulate: [{% for Source in Article.sources.all %}
									{"id":"{{Source.id}}","name":"{{Source}}"}{%if not forloop.last%},{%endif%}
								{% endfor %}]
				});
		});	

		function submit_new_source(){
			var sources = {}; 
			//squigglies announce object
			sources.first_name=$('#new_source_form > #first_name').val(); // the ">" sign tells it to indicate the text in the form box. Called selectors. Part of CSS.
			sources.last_name=$('#new_source_form > #last_name').val();
			sources.job_title=$('#new_source_form > #job_title').val();
			sources.company=$('#new_source_form > #company').val();
			sources.comments=$('#new_source_form > #comments').val();
			//sources.quotes=$('#new_source_form > #quotes').val();
			//inps = $('#new_source_form > input, #new_source_form > textarea');
			//inps.each(function(key, value){	
				//sources.push([$(value).attr('name'),$(value).val()]);
				//});	
			//alert(JSON.stringify(sources));
			if (sources.first_name=="" && sources.last_name==""){
				alert("Please enter a first or last name...")
			} 
			else {
				$.ajax({
					type:'POST',
					url:'/stories/add_source_api',
					data:JSON.stringify(sources),
					success: function(data){
							data = JSON.parse(data);
							console.log(data, data.id, data.first_name + " " + data.last_name);
							$.TokenList.add_token_api(data.id, data.first_name + " " + data.last_name);
							//$('#new_source_box').slideToggle();
							$('#new_source_form').children().each(function(index, value){
								$(value).val("");
							});
						},
				});
			}
		}
		
	$(document).ajaxSend(function(event, xhr, settings) {
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
	
    function sameOrigin(url) {
        // url could be relative or scheme relative or absolute
        var host = document.location.host; // host + port
        var protocol = document.location.protocol;
        var sr_origin = '//' + host;
        var origin = protocol + sr_origin;
        // Allow absolute or scheme relative URLs to same origin
        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
            // or any other URL that isn't scheme relative or absolute i.e relative.
            !(/^(\/\/|http:|https:).*/.test(url));
    }
	
    function safeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
		}
	});
		</script>
		
		<!--SCRIPTS FOR DIJI EDITOR.-->
		<!-- Not sure if we need this one? -->
		<meta charset="utf-8">
		
		<!-- CSS stylesheets -->
		<link rel="stylesheet" href="http://dojotoolkit.org/documentation/tutorials/1.6/editor/demo/style.css" media="screen">
		<link rel="stylesheet" href="http://dojotoolkit.org/documentation/tutorials/1.6/resources/style/demo.css" media="screen">
		<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/dojo/1.6/dijit/themes/claro/claro.css" />

		<!-- These two are not essential, but makes it look wee bit nicer -->
		<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/dojo/1.4/dojo/resources/dojo.css"> 
		<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/dojo/1.4/dijit/themes/tundra/tundra.css"> 
		
		<!-- These are for the dojox plugins -->
		<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/dojo/1.6/dojox/editor/plugins/resources/editorPlugins.css"/>
		<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/dojo/1.6/dojox/editor/plugins/resources/css/PageBreak.css" />
		<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/dojo/1.6/dojox/editor/plugins/resources/css/Breadcrumb.css" />
		<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/dojo/1.6/dojox/editor/plugins/resources/css/Preview.css" />
		<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/dojo/1.6/dojox/editor/plugins/resources/css/Save.css" />
		<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/dojo/1.6/dojox/editor/plugins/resources/css/ShowBlockNodes.css" />
		<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/dojo/1.6/dojox/editor/plugins/resources/css/Preview.css" />
		<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/dojo/1.6/dojox/editor/plugins/resources/css/Save.css" />
		<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/dojo/1.6/dojox/editor/plugins/resources/css/FindReplace.css" />
		<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/dojo/1.6/dojox/editor/plugins/resources/css/PasteFromWord.css" />
		<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/dojo/1.6/dojox/editor/plugins/resources/css/InsertAnchor.css" />
		<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/dojo/1.6/dojox/editor/plugins/resources/css/CollapsibleToolbar.css" />
		<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/dojo/1.6/dojox/editor/plugins/resources/css/Blockquote.css" />
		<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/dojo/1.6.0/dojox/editor/plugins/resources/css/SpellCheck.css" />
		<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/dojo/1.6.0/dojox/editor/plugins/resources/css/InsertEntity.css" />
		<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/dojo/1.6.0/dojox/editor/plugins/resources/css/StatusBar.css" />
		<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/dojo/1.6.0/dojox/editor/plugins/resources/css/PasteFromWord.css" />
		
		<!-- This is for the dijit editor-->
		<script src="http://ajax.googleapis.com/ajax/libs/dojo/1.6.0/dojo/dojo.xd.js" data-dojo-config="isDebug: true,parseOnLoad: true"></script>

	</head>

	<body class="claro">
	
		<p align="right"><a href="/logout_view">Log out.</a>
		<a href="/sources">View sources.</a>
		<a href="/stories">Return to the dashboard.</a></p>
			
	<script>
			dojo.require("dijit.Editor");
			dojo.require("dijit._editor.plugins.FontChoice"); dojo.require("dojox.editor.plugins.TextColor"); 
			dojo.require("dijit._editor.plugins.Print"); dojo.require("dijit._editor.plugins.ToggleDir"); 
			dojo.require("dojox.editor.plugins.PageBreak"); dojo.require("dojox.editor.plugins.Preview");
			dojo.require("dojox.editor.plugins.Save"); dojo.require("dojox.editor.plugins.Breadcrumb");
			dojo.require("dojox.editor.plugins.SpellCheck");dojo.require("dojox.editor.plugins.InsertEntity");
			dojo.require("dojox.editor.plugins.Blockquote"); dojo.require("dijit._editor.plugins.LinkDialog"); 
			dojo.require("dojox.editor.plugins.InsertAnchor"); dojo.require("dojox.editor.plugins.FindReplace"); 
			dojo.require("dojox.editor.plugins.ShowBlockNodes"); dojo.require("dojox.editor.plugins.PasteFromWord");
			dojo.require("dijit._editor.plugins.ViewSource"); dojo.require("dijit._editor.plugins.FullScreen"); 
			dojo.require("dojox.editor.plugins.InsertEntity"); dojo.require("dojox.editor.plugins.CollapsibleToolbar"); 
			dojo.require("dojox.editor.plugins.NormalizeIndentOutdent"); dojo.require("dojox.editor.plugins.PrettyPrint"); 		
			dojo.require("dijit._editor.plugins.TextColor");dojo.require("dijit._editor.plugins.AlwaysShowToolbar");
			dojo.require("dojox.editor.plugins.PasteFromWord"); 	
	</script>

	<!-- CSS CODE TO RESIZE TEXT AREA-->
	<style type="text/css">
		div.resize {
			width: 700px;
			height: 300px;
			border: 1px solid;
			resize: both;
			overflow: auto;
		}
		div.horizontal {
			resize: horizontal;
			max-width: 700px;
			min-width: 200px;
		}
		div.vertical {
			resize: vertical;
			max-height: 2000px;
			min-height: 200px;
		}
	</style>
	
		<form action="/stories/{{Article.id}}/edit_submit" method="post">
			{% csrf_token %}
			<text style="font-family:verdana;color:#D8D8D8;font-size:17;font-style:italic">Title</text><br /><input type="text" name="title" size = "50" value="{{Article.title}}" /><br />
			<text style="font-family:verdana;color:#D8D8D8;font-size:17;font-style:italic">Subhead</text><br /><input type="text" name="lead" size = "120" value="{{Article.lead}}" /><br />
			<textarea name="content" class="resize"
			data-dojo-type="dijit.Editor" 
			data-dojo-props="extraPlugins:['collapsibletoolbar','Fullscreen','|','Print','|','createLink','insertImage','|','findreplace','|',
											'fontName','fontSize','formatBlock','|','normalizeindentoutdent',
											'blockquote','pagebreak','preview','save','breadcrumb','insertentity','|',
											'foreColor','hiliteColor','pastefromword','dijit._editor.plugins.AlwaysShowToolbar']">
			{{Article.content}}
			</textarea>	
			<select name="status">
			  <option value="to_start"    {% if Article.status == "to_start"    %} selected {%endif%}>To start</option>
			  <option value="in_progress" {% if Article.status == "in_progress" %} selected {%endif%}>In progress</option>
			  <option value="almost_done" {% if Article.status == "almost_done" %} selected {%endif%}>Almost done</option>
			  <option value="completed"   {% if Article.status == "completed"   %} selected {%endif%}>Completed</option>
			</select> </br>	
			
			<select name="category">
			  <option value="news"    {% if Article.category == "news"    %} selected {%endif%}>News</option>
			  <option value="feature" {% if Article.category == "feature" %} selected {%endif%}>Feature</option>
			  <option value="opinion" {% if Article.category == "opinion" %} selected {%endif%}>Opinion</option>
			  <option value="analysis"   {% if Article.category == "analysis"  %} selected {%endif%}>Analysis</option>
			</select> </br>	
			
			<text style="font-family:verdana;color:#D8D8D8;font-size:17;font-style:italic">Notes</text><br /><textarea name="notes" rows="2" cols="40">{{Article.notes}}</textarea><br />
			<text style="font-family:verdana;color:#D8D8D8;font-size:17;font-style:italic">Sources</text><br /> <input type="text" name="sources" id="sources"/></br>  
			
			<table>
				{% for Source in Article.sources.all %}
				<tr><td>{{Source}}</td></tr>
				{% endfor %}
			</table>
			
			</br>	
			
			<input type="submit" value="Save"/>
		
		</form>

		<a href='' onClick="$('#new_source_box').slideToggle();return false;" id="add_new_source"> Add a new source<i>(Click to close this window)</i></a> <!--THE DOLLAR SIGN ANNOUNCES JQUERY. CAN ALSO BE REPLACED BY "JQUERY"-->
			<div id="new_source_box" style="border:1px solid; width:400px;display:none;">
				<form id="new_source_form" method="post">
					{% csrf_token %}
					<!--<input type="hidden" name ="article_id" value="{{Article.id}}">-->
					First name: <input type="text" id="first_name" value="" /><br />
					Last name: <input type="text" id="last_name" value="" /><br />
					Job title: <input type="text" id="job_title" value="" /><br />
					Company: <input type="text" id="company" value="" /><br />
					Comments: <textarea id="comments" rows="2" cols="20"></textarea><br />
					<!--Quotes: <textarea id="comments" rows="2" cols="20"></textarea><br />-->
					<button onClick="submit_new_source(); return false;"> Save </button>
					<!--<button onClick="submit_new_source(); return false;"> Save and add another </button>-->
					<!--<button onClick="submit_new_source(); return false;"> Clear </button>-->
				</form>
			</div> <!--THE BIT INSIDE "STYLE" IS CSS  .each(function alert(this.val());	});	-->
		
		<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
	</body>
</html>

