<html>
	<head>
		<title>Edit {{Article}}</title>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
		<script type="text/javascript" src="/static/site_media/JS/jquery.tokeninput.js"></script>
		<script type="text/javascript" src="/static/site_media/JS/json2.js"></script>
		<link rel="stylesheet" href="/static/site_media/CSS/token-input.css" type="text/css" />
		
		<script type="text/javascript">
		$(document).ready(function () {
		  $("#sources").tokenInput("/sources/source_query", {
					hintText: "Type in the names of your sources",
					noResultsText: "No results",
					searchingText: "Searching...",
					prePopulate: [{% for Source in Article.sources.all %}
									{"id":"{{Source.id}}","name":"{{Source}}"}{%if not forloop.last%},{%endif%}
								{% endfor %}]
				});
		});	

		function submit_new_source(){
			var sources = {}; 
			//squigglies announce object
			sources.first_name=$('#new_source_form > #first_name').val(); // the ">" sign tells it to indicate the text in the form box. Called selectors. Part of CSS.
			sources.last_name=$('#new_source_form > #last_name').val();
			sources.job_title=$('#new_source_form > #job_title').val();
			sources.company=$('#new_source_form > #company').val();
			sources.comments=$('#new_source_form > #comments').val();
			//sources.quotes=$('#new_source_form > #quotes').val();
			//inps = $('#new_source_form > input, #new_source_form > textarea');
			//inps.each(function(key, value){	
				//sources.push([$(value).attr('name'),$(value).val()]);
				//});	
			//alert(JSON.stringify(sources));
			if (sources.first_name=="" && sources.last_name==""){
				alert("Please enter a first or last name...")
			} 
			else {
				$.ajax({
					type:'POST',
					url:'/stories/add_source_api',
					data:JSON.stringify(sources),
					success: function(data){
							data = JSON.parse(data);
							console.log(data, data.id, data.first_name + " " + data.last_name);
							$.TokenList.add_token_api(data.id, data.first_name + " " + data.last_name);
							//$('#new_source_box').slideToggle();
							$('#new_source_form').children().each(function(index, value){
								$(value).val("");
							});
						},
				});
			}
		}
		</script>
	</head>

	<body>
		Return to <a href="/stories">article list.</a>
		<br />	<br />
		
		<form action="/stories/{{Article.id}}/edit_submit" method="post">
			{% csrf_token %}
			<text style="font-family:verdana;color:#D8D8D8;font-size:17;font-style:italic">Title</text><br /><input type="text" name="title" size = "50" value="{{Article.title}}" /><br />
			<text style="font-family:verdana;color:#D8D8D8;font-size:17;font-style:italic">Subhead</text><br /><input type="text" name="lead" size = "120" value="{{Article.lead}}" /><br />
			<text style="font-family:verdana;color:#D8D8D8;font-size:17;font-style:italic">Body</text><br /><textarea name="content" rows="20" cols="120">{{Article.content}}</textarea><br />
			
			<select name="status">
			  <option value="to_start"    {% if Article.status == "to_start"    %} selected {%endif%}>To start</option>
			  <option value="in_progress" {% if Article.status == "in_progress" %} selected {%endif%}>In progress</option>
			  <option value="almost_done" {% if Article.status == "almost_done" %} selected {%endif%}>Almost done</option>
			  <option value="completed"   {% if Article.status == "completed"   %} selected {%endif%}>Completed</option>
			</select> </br>	
			
			<select name="category">
			  <option value="news"    {% if Article.category == "news"    %} selected {%endif%}>News</option>
			  <option value="feature" {% if Article.category == "feature" %} selected {%endif%}>Feature</option>
			  <option value="opinion" {% if Article.category == "opinion" %} selected {%endif%}>Opinion</option>
			  <option value="analysis"   {% if Article.category == "analysis"  %} selected {%endif%}>Analysis</option>
			</select> </br>	
			
			<text style="font-family:verdana;color:#D8D8D8;font-size:17;font-style:italic">Notes</text><br /><textarea name="notes" rows="2" cols="40">{{Article.notes}}</textarea><br />
			<text style="font-family:verdana;color:#D8D8D8;font-size:17;font-style:italic">Sources</text><br /> <input type="text" name="sources" id="sources"/></br>  
			
			<table>
				{% for Source in Article.sources.all %}
				<tr><td>{{Source}}</td></tr>
				{% endfor %}
			</table>
			
			</br>	
			
			<input type="submit" value="Save"/>
		
		</form>

		<a href='' onClick="$('#new_source_box').slideToggle();return false;" id="add_new_source"> Add a new source<i>(Click to close this window)</i></a> <!--THE DOLLAR SIGN ANNOUNCES JQUERY. CAN ALSO BE REPLACED BY "JQUERY"-->
			<div id="new_source_box" style="border:1px solid; width:400px;display:none;">
				<form id="new_source_form" method="post">
					{% csrf_token %}
					<!--<input type="hidden" name ="article_id" value="{{Article.id}}">-->
					First name: <input type="text" id="first_name" value="" /><br />
					Last name: <input type="text" id="last_name" value="" /><br />
					Job title: <input type="text" id="job_title" value="" /><br />
					Company: <input type="text" id="company" value="" /><br />
					Comments: <textarea id="comments" rows="2" cols="20"></textarea><br />
					<!--Quotes: <textarea id="comments" rows="2" cols="20"></textarea><br />-->
					<button onClick="submit_new_source(); return false;"> Save </button>
					<!--<button onClick="submit_new_source(); return false;"> Save and add another </button>-->
					<!--<button onClick="submit_new_source(); return false;"> Clear </button>-->
				</form>
			</div> <!--THE BIT INSIDE "STYLE" IS CSS  .each(function alert(this.val());	});	-->

	</body>
</html>

