<html>
{% load stories_extras %}
<head>
</head>
<link rel="stylesheet" href="/site_media/CSS/token-input.css" type="text/css" />

<body>

Transcripts. Click on the name to see the full transcript.
<br/><br/>

<table>
<tr>
<td> Source </td>
<td> Transcript </td>
<!--<td> Article </td>-->
</tr>
{% for Quote in short_quote_list %}
<tr> 
<td> <a href="/sources/{{Quote.source.id}}">{{Quote.source}}</a></td> 
<td><a href="/quotes/{{Quote.id}}">{{Quote.content}}..........</a></td>
<!--<td><a href="/stories/{{Quote.articles.id}}">{{Quote.articles}}</a></td>-->
{% endfor %}
</tr>
</table>
<br/><br/>
<a href="/new_quote">Add a new quote</a>
<br/><br/>
<a href="/stories">Return to articles</a>
<br/>
<a href="/sources">Return to sources</a>
</body>
</html>