<html>

<head>
	{% load stories_extras %}

	<title>{{ Source }}</title>

	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
	<script type="text/javascript" src="/static/site_media/JS/jquery.tokeninput.js"></script>
	<script type="text/javascript" src="/static/site_media/JS/json2.js"></script>
	<link rel="stylesheet" href="/static/site_media/CSS/token-input.css" type="text/css" />

</head>

<body>
	<p align="right"><a href="/logout_view">Log out.</a></p>

	<h1>{{ Source }}</h1>

	<b>Job title:</b> {{Source.job_title}} <br />
	<b>Company:</b>  {{Source.company}} <br />
	<b>Comments:</b> {{Source.comments}} <br />

	<br />
	<a href="/sources/{{Source.id}}/edit"> Edit this source</a>
	<br /> 
	
	<!--<a href='' onClick="$('#new_transcript_box').slideToggle();return false;" id="submit_new_transcript"> Add a transcript for this source <i>(Click to close this window)</i></a> 
		<div id="new_transcript_box" style="border:1px solid; width:400px;display:none;">
		<form action="/stories/submit_new_transcript" method="post">
			{% csrf_token %}
			<input type="hidden" name="source_id" value="{{Source.id}}"><br />
			Transcript: <textarea name="transcript" value="" rows="5" cols="50"></textarea><br />
			<input type="submit" value="Save"/>
		</form>
		</div>-->
		
	<br /> 
	<a href="/sources/{{Source.id}}/delete"> Delete this source </a>
	<br /> <br />

	<!--Transcripts from this source:
		{% for Quotes in short_quote_list %}<br />
			<a href="/quotes/{{Quotes.id}}">{{Quotes}}..........</a><br />
		{% endfor %} <br />-->

	<b>Articles linked to this source:</b><br />
		{% for Article in article_list %}<br />
			<a href="/stories/{{Article.id}}">{{Article.title}}</a><br />
		{% endfor %}<br />

	Return to <a href="/stories">article list.</a>
	<br />
	Return to <a href="/sources">sources.</a>
</body>
</html>

